[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
jwt = "*"
flask = "*"
flask-migrate = "*"
flask-cors = "*"
python-dotenv = "*"
flask-jwt-extended = "*"
twilio = "*"
openai = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
start="flask run -p 3001 -h 0.0.0.0"
